
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

:root {
  --bs-body-bg: #1c1c1c; /* Dark gray */
  --accent-color: #4b0082; /* Dark purple */
  --secondary-color: #2b145d; /* Dark blue */
}  
  

body {
  color: #ffffff; 
  background-color: var(--bs-body-bg);
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(135deg, #1c1c1c, #536475, #220169);
  animation: backgroundAnimation 20s ease infinite;
  background-size: 300% 300%;
}

@keyframes backgroundAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
  
  /* Header Styles */
header {
    background-color: var(--secondary-color);
    padding: 20px;
    text-align: left;
    color: white;
}
  
h1 {
    font-size: 2em;
}
  
p {
  color: rgb(0, 0, 0);
  font-size: 2.4em;
}

nav menu {
    list-style: none;
}
  
nav menu li {
    display: inline;
    margin-right: 20px;
}
  
nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
  
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}
  
.container {
    margin: 20px auto;
    padding: 20px;
    border: 2px solid var(--accent-color); /* Dark purple border */
    border-radius: 10px;
    background: linear-gradient(to bottom, #3c2150 0%, #1c1c1c 100%); 
    color: #ffffff; 
    position: relative;
    display: flex;
    flex-direction: column;
}

.container::before {
  content: "";
  position: absolute;
  top: 45%; /* Adjust this value to position the line */
  left: 0;
  width: 100%;
  height: 3px; 
  background-color: #342b3b; 
}

.container section {
    margin-bottom: 20px;
}

.container section h1 {
  margin: 0;
  font-size: 1.5em;
}

.container section p {
  margin-top: 10px;
  font-size: 1.1em;
  color: white;
}

.event-info{
  flex: 1;
}

.like-button {
  display: inline;
  justify-content: flex-end;
  align-items: right;
  
}

.like-button button {
  background-color: var(--accent-color);
  border-radius: 8px;
  color: #fff;
  padding: 2px 10px;
  border: 2px solid #331750;
  cursor: pointer;
  margin-right: 3px;
}

.like-count {
  font-weight: bold;
}

.like-button button.liked {
  background-color: #6f42c1; 
}

.like-button button:hover {
  background-color: #6f42c1; 
}

#postForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
}

#postForm label {
  font-size: 1.2em;
  margin: 10px 0;
  color: #fff;
}

#postForm input,
#postForm textarea,
#postForm button {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 2px solid #331750;
  border-radius: 5px;
}

#postForm button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#postForm button:hover {
  background-color: #8f00b3;
}

#postForm input[type="text"],
#postForm textarea {
  background-color: #2b145d; 
  color: #ffffff; 
  border: 1px solid #4b0082; 
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

#postForm input[type="text"]:focus,
#postForm textarea:focus {
  outline: none;
  border-color: #7100f3; 
}


/* Adjustments for responsiveness */
@media screen and (max-width: 576px) {
  #postForm input,
  #postForm textarea,
  #postForm button {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .container section h1 {
    font-size: 1.4em;
  }
  .container{
    flex-direction: column;
    align-items: flex-start;
  }
  .container section p {
    font-size:1em;
    margin-top: 50px;
  }
}
  
@media screen and (max-width: 576px) {

  .container section h1 {
    font-size: 1.3em;
  }
}

#toggleFormButton {
  background-color: var(--accent-color);
  color: white;
  border: none;
  padding: 10px 15px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#toggleFormButton:hover {
  background-color: #6f42c1; 
}

@keyframes flyInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.container {
  animation-name: flyInFromLeft;
  animation-duration: 1s;
  animation-fill-mode: both;
  opacity: 0; 
}


section h1 {
    font-size: 1.5em;
}
  
section p {
    font-size: 1em;
    margin-top: 55px;
}

footer {
    background-color: var(--secondary-color);
    padding: 20px;
    color: white;
    text-align: center;
    margin-top: auto;
}


.footer-text {
    color: white;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); 
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
  